<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <!-- Annotation-based beans -->
    <context:component-scan base-package="org.tinhol.rds"/>

    <bean id="mainCubaDataSource" class="com.haulmont.cuba.core.sys.CubaJndiDataSourceFactoryBean">
        <property name="jndiNameAppProperty" value="cuba.dataSourceJndiName"/>
        <property name="resourceRef" value="true"/>
    </bean>

    <bean id="cubaDataSource" class="org.tinhol.rds.core.datasource.CubaRoutingDataSource">
        <constructor-arg name="mainDs" ref="mainCubaDataSource"/>
    </bean>

    <bean id="cuba_DataManager" class="org.tinhol.rds.core.RoutingDataManagerBean"/>
</beans>
